@font-face {
    font-family: "Segoe UI";
    src: url("fonts/SegoeUI.eot");
    src: url("fonts/SegoeUI.eot?#iefix") format("embedded-opentype"),
      url("fonts/SegoeUI.woff2") format("woff2"),
      url("fonts/SegoeUI.woff") format("woff"),
      url("fonts/SegoeUI.svg#SegoeUI") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
  }
  /* -------------------------header--------------------------- */
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .background {
    display: flex;
    background-image: url("../images/fotos_locaties/sannebas.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 1500px;
    position: relative; 
    background-attachment: fixed;
  }
  .background:after {
    content: ""; 
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 110%);
    height: 100%;
    z-index: 1;
}
  .a-background {
    background-color: #4a545c;
    display: flex;
    justify-content: space-between;
    padding: 15px 16px;
    transition: top 0.3s;
  }
  .curio-logo{
    width: 130px;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin: 20px 0;
  }
  .nav-menu{
    margin-top: 14px;
    margin-left: 40px;
  }
  .nav-bar a {
    padding: 10px;
    margin-left: 50px;
    border: solid #4bcaff 1px transparent;
    font-size: larger;
  }
  .nav-bar a:hover {
    color: #4bcaff;
    border: solid #4bcaff 1px;
  }
  .letterE {
    color: #4bcaff;
  }
  .wrapper .nav-bar h1 {
    color: white;
  }
  .wrapper .nav-bar a {
    text-decoration: none;
    color: white;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  /*----------------------------info-opleiding(home)---------------------- */
  .info-bg{
    display: flex;
    background-color: #000000;
    z-index: 2;
    margin-top: 180px;
  }
  .info-opl {
    z-index: 3; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
  .info-bg h2 {
    border: 5px #4a545c solid;
    background-color: #4a545c;
    color: white;
    margin-top: 10px;
    padding: 0 4px 0 4px;
    font-weight: lighter;
  }
  /* ------------------------------rooster-------------------------- */
  .b-background {
    background-color: #4a545c;
  }
  .rooster {
    padding-top: 30px;
  }
  .letterROO {
    padding-bottom: 4px;
    border-bottom: white 3px solid;
  }
  .rooster h1 {
    color: white;
    font-weight: lighter;
  }
  .containers-rooster{
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: center;
  }
  .containers-rooster p{
    color: white;
    font-size: 30px;
  }
  .roosterfoto{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
  }
  .rooster-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rooster-info p{
    padding-top: 50px;
  }
  /* ---------------------------VAKKEN------------------------- */
  .head-vakken {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vakken h2 {
    color: #4a545c;
    font-weight: lighter;
  }
  .letterVA {
    border-bottom: #4a545c 3px solid;
    padding-bottom: 4px;
  }
  .vakken{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vakken-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .grid-vak{
    display: flex;
    border: solid black 2px;
    margin: 0 20px 10px 0;
    padding: 3rem;
  }
  .grid-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ------------------------Blokken---------------------------------- */
  .blokken-bg{
    background-color: #4a545c;
  }
  .blokken{
    padding-top: 20px;
  }
  .head-blokken {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head-blokken h2 {
    color: white;
    font-weight: lighter;
  }
  .letterBLO {
    padding-bottom: 4px;
    border-bottom: white 3px solid;
  }
  .blokken h1 {
    color: white;
    font-weight: lighter;
  }
  .containers-blokken{
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: center;
  }
  .containers-blokken p{
    color: white;
    font-size: 30px;
  }
  .blokkenfoto{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
  }
  .blokken-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blokken-info p{
    padding-top: 10px;
    font-size: larger;
  }
  /*---------------------------------docenten-----------------------------*/
  .docenten-bg{
    min-height:100%;
    background: 
     linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
     0 0/100% 200%;
     animation: a 0.4s linear infinite;
  }
  @keyframes a {
    to {background-position:0 -200%}
  }
  .docenten{
    padding-top: 20px;
    padding-bottom: 500px;
  }
  .head-docenten {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head-docenten h2 {
    color: white;
    font-weight: lighter;
  }
  .letterDO {
    padding-bottom: 4px;
    border-bottom: white 3px solid;
  }
  .docenten h1 {
    color: white;
    font-weight: lighter;
  }
  .containers-docenten{
    display: flex;
    margin-left: 290px;
  }
  .grid-docent{
    margin: 20px;
  }
  .grid-docent h1{
    font-size: xx-large;
    font-weight: bold;
  }
  .foto-docent{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transition: all .5s;
  }
  .foto-docent:hover{
    transform: scale(3.5);
    -o-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -webkit-transform: scale(3.5);
    
  }